.header__lang-link {
    display: flex;
    font-family: 'Inter';
    font-size: 29px;
    text-decoration-line: none;
    color: #FFFFFF;
    line-height: 28px;
    font-weight: 400;
    text-align: right;
}
