.place {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, fit-content(460px));
    gap: 48px 40px;
}

@media screen and (max-width: 1088px) {
    .place {
        grid-template-columns: repeat(2, fit-content(440px));
        gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: minmax(min-content, 340px);
        column-gap: 28px;
        margin: 0;
    }
}

@media screen and (max-width: 520px) {
    .place {
        grid-template-columns: repeat(1, fit-content(320px));
        gap: 32px;
        margin: 0;
        margin-top: 50px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        grid-template-columns: 320px;
        gap: 32px;
        margin: 0;
        margin-top: 50px;
    }
}