.place {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, fit-content(460px));
    grid-template-rows: repeat(2, fit-content(484px));
    gap: 40px 48px;
    margin: 0 auto;
    margin-top: 80px;
}

@media screen and (max-width: 520px) {
    .place {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
}