.header {
    display: flex;
    justify-content: space-between;
    width: 1184px;
    margin: auto;
}

@media screen and (max-width: 1210px) {
    .header {
        width: 1000px;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        width: 928px;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
}

