.header {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    width: 100%;
    margin-right: 48px;
    margin-left: 48px;
}

@media screen and (max-width: 1024px) {
    .header {
        width: 90%;
    }
}
