.footer__link_travel {
    opacity: 1;
}

.footer__link_travel:hover {
    opacity: 0.6;
}

@media screen and (max-width: 712px) {
    .footer__link_travel {
        padding-bottom: 24px;
    }
}


@media screen and (max-width: 320px) {
    .footer__link_travel {
        font-size: 24px;
        line-height: 24px;
    }
}
