.footer__link_container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 712px) {
    .footer__link_container {
        width: 70%;
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .footer__link_container {
        width: 100%;
    }
}
