.footer__link_container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .footer__link_container {
        width: 70%;
    }
}

@media screen and (max-width: 720px) {
    .footer__link_container {
        display: grid;
        gap: 32px;
    }
}
