.footer__link-calendar {
    margin-right: 18px;
    opacity: 1;
}

.footer__link-calendar:hover {
    opacity: 0.6;
}

@media screen and (max-width: 712px) {
    .footer__link-calendar {
        line-height: 18px;
    }
}

@media screen and (max-width: 320px) {
    .footer__link-calendar {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 32px;
    }
}
