.lead__title {
    position: relative;
    color: white;
    text-align: center;
    font-family: 'Inter-ExtraBold';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    width: 720px;
    height: 200px;
    margin: auto;
    margin-top: 56px;
    margin-bottom: 32px;
}