.lead__image {
    width: 100%;
    height: auto;
}

/*
@media screen and (max-width: 1210px) {
    .lead__image {
        width: 960px;
        height: 600px};
}

@media screen and (max-width: 1024px) {
    .lead__image {
        width: 928px;
        height: 580px;
    }
}
*/