.cover {
    width: 1184px;
    display: flex;
    justify-content: center;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 92px;
    margin-bottom: 92px;
    position: relative;
}

@media screen and (max-width: 1210px) {
    .cover {
        width: 1000px;
    }
}