.cover__overlay {
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
}

.cover__overlay:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1210px) {
    .cover__overlay {
        width: 118.5%;
        height: 100%;
    }
}