.cover__overlay {
    position: relative;
    text-decoration: none;
    justify-self: center;
    width: 100%;
    max-width: 1184px;
    z-index: 4;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.cover__overlay::before {
    content: "";
    position: absolute;
    background-color: rgba(42, 44, 47, 0.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.cover__overlay:hover {
    opacity: 0.8;
    background-color: rgba(42, 44, 47);
    color: white;
}