.lead__caption {
    font-size: 10px;
    font-family: 'Inter-Black';
    line-height: 14px;
    font-weight: 400;
    color: white;
    width: 158px;
    height: 14px;
    text-transform: uppercase;
}