.cover__title {
    position: relative;
    display: grid;
    justify-self: center;
    grid-column: 3/7;
    grid-row: 2;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    width: 100%;
    z-index: 4;
    margin: 0 auto;
}

@media screen and (max-width: 849px) {
    .cover__title {
        grid-column: 3/7;
    }
}

@media screen and (max-width: 720px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }
}