.place__paragraph {
    width: 100%;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 29.34px;
    margin-bottom: 26px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        margin-bottom: 27px;
        line-height: 29.34px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 26.08px;
    }
}

@media screen and (max-width: 520px) {
    .place__paragraph {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
    }
}


@media screen and (max-width: 320px) {
    .place__paragraph {
        margin-bottom: 25px;
        line-height: 26.08px;
    }
}
