.place__url-heading {
    color: #AAAAAA;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    font-family: 'Inter', 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
}